# ===========================
# Maven
# ===========================
target/

# ===========================
# IDE
# ===========================
.idea/
*.iml

.vscode/

.project
.classpath
.settings/

nbproject/

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Environment
# ===========================
.env
.env.*

# ===========================
# Temporary Files
# ===========================
*.tmp
*.swp